/*
color used for:
text color: #07290d #fafafa
backround color: #fafafa
button + a:visited color: #0E4115
a color: #14591D
a:active color: #5CB800
project-list color: #448200
open colors: #AB2346, #60993E

fonts:
primary: raleway
title + button: montserrat

font-weight:
primary: 400
title + button: 600
*/

/*  --------------------------  general --------------------------   */
:root {
  --prim-color: #07290d;
  --bg-color: #fafafa;
  --secondary-bg-color: #448200;
  --interactive-color: #0e4115;
  --link-color: #14591d;
  --link-active-color: #5cb800;
  --secondary-font: montserrat;
  --secondary-font-weight: 600;
}

input,
select,
button {
  font-family: system-ui;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--bg-color);
  color: var(--prim-color);
  font-family: raleway;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}

h1 {
  font-family: var(--secondary-font);
  font-weight: var(--secondary-font-weight);
  font-size: 30px;
  margin: 0;
}

h2 {
  font-family: var(--secondary-font);
  font-weight: var(--secondary-font-weight);
  font-size: 24px;
  margin: 0;
}

h3 {
  font-family: var(--secondary-font);
  font-weight: var(--secondary-font-weight);
  font-size: 18px;
}

ul {
  padding-inline-start: 0;
}

a {
  color: var(--link-color);
}

a:visited {
  color: var(--interactive-color);
}

a:hover,
a:focus {
  text-decoration: none;
}

a:active {
  color: var(--link-active-color);
}

button,
.button {
  border: none;
  font-family: var(--secondary-font);
  display: inline-block;
  font-weight: var(--secondary-font-weight);
  background-color: var(--interactive-color);
  color: var(--bg-color);
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  transition: 0.5s font-size;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  font-size: 18px;
  box-shadow: 8px 11px 5px -2px rgba(7, 41, 13, 0.58);
}

button:visited,
.button:visited {
  color: var(--bg-color);
}

/*  --------------------------  header --------------------------   */

.page-header {
  display: flex;
  padding: 20px;
}

.page-header__item:first-child {
  width: 50px;
  height: 50px;
}

.page-header__item:last-child {
  padding-top: 10px;
  flex-grow: 1;
}

/* --------------- navigation ----------------  */

.navigation-list {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

.navigation-list li {
  margin-left: 15px;
}

.navigation-list__item--active {
  text-decoration: none;
  color: var(--prim-color);
}

/*  --------------------------  main --------------------------   */

/* ---------------- index ---------------- */
.profil {
  margin: 110px auto 150px;
}

.profil__portrait {
  border-radius: 50%;
  width: 250px;
  float: left;
  margin: 0 15px 150px 35%;
}

.profil__title {
  padding: 30px 10px 20px;
}

.profil__text {
  margin-bottom: 30px;
}

@supports (display:grid) {
  .profil {
    display: grid;
    grid-template: 1fr 1fr 0.5fr / 1fr 1fr;
    grid-column-gap: 20px;
    justify-content: center;
    margin: 110px auto 150px;
  }

  .profil__portrait {
    width: 250px;
    border-radius: 50%;
    grid-row: 1/4;
    justify-self: end;
    margin: 0;
  }

  .profil__title {
    align-self: center;
    padding: 0;
  }
}

/* ---------------- about ---------------- */

.about-me {
  display: block;
  margin: 25px 20%;
}

.about-me__item {
  text-align: center;
  padding-bottom: 15px;
}

h1.about-me__item {
  margin-top: -15px;
}

a.about-me__item {
  margin: 0 40%;
  min-width: 200px;
}

svg.about-me__item {
  margin: 0 20%;
}

a.credit-link {
  font-weight: 100;
  font-size: 12px;
  text-decoration: none;
  margin: 0 30%;
}

@supports (display:grid) {
  .about-me {
    display: grid;
    grid-template-columns: 0.5fr;
    grid-row-gap: 25px;
    justify-content: center;
    margin: 0;
  }

  .about-me__item {
    justify-self: center;
    align-self: center;
    padding: 0;
  }

  a.about-me__item {
    padding: 15px;
    margin: 0;
  }

  p.about-me__item {
    text-align: center;
    margin: 0;
  }

  svg.about-me__item,
  .button {
    min-width: 200px;
    margin: 0;
  }

  a.credit-link {
    margin-top: -30px;
    margin-bottom: 30px;
    padding: 0;
  }
}

/* --- svg animation --- */
@keyframes color-change {
  0% {
    fill: #ffeec7;
  }

  25% {
    fill: #fea7a0;
  }

  50% {
    fill: #b53da1;
  }

  75% {
    fill: #4321a9;
  }

  100% {
    fill: #140655;
  }
}

.background-svg {
  animation: 10s color-change infinite alternate linear;
}

@keyframes steam-move {
  0% {
    transform: translate(0, 0);
  }

  50% {
    opacity: 0.5;
  }

  100% {
    transform: translate(0, -20px);
    opacity: 0;
  }
}

#steam {
  animation: 4s steam-move infinite linear;
}

@keyframes checkmark-jumping {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(0, -7px);
  }
}

#checkmark {
  animation: 350ms checkmark-jumping infinite linear alternate;
}

@keyframes zzz-moving {
  0% {
    transform: translate(10px, 10px);
  }

  100% {
    transform: translate(-10px, -10px);
    opacity: 0;
  }
}

#zzz {
  animation: 2s zzz-moving infinite linear;
}

/* ---------------- work ----------------  */

.main__titel {
  text-align: center;
}

.project-list__item-screenshot {
  width: 461px;
  height: 215px;
  margin: -20px -20px 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.project-list__item {
  display: inline-block;
  width: 25%;
  margin: 25px 60px 50px;
  border-radius: 4px;
}

.project-list__item-icon-div {
  display: flex;
  justify-content: center;
}

.project-list__item-link-div p {
  margin: 0 10px 0 0;
}

.project-list__item-icon {
  width: 50px;
  margin-right: 10px;
}

.project-list__item-link-div {
  display: flex;
  justify-content: center;
}

.project-list__item-link {
  margin-right: 30px;
}

@supports (display: grid) {
  .project-list {
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
    margin: 35px 50px 15px;
  }

  .project-list__item {
    background: var(--secondary-bg-color);
    color: var(--bg-color);
    width: auto;
    min-height: auto;
    margin: 0;
    padding: 20px;
  }

  .project-list__item h2 {
    padding-bottom: 10px;
  }

  .project-list__item p {
    padding-bottom: 10px;
  }

  .project-list__item a {
    color: var(--bg-color);
    text-decoration: underline;
  }
}

/* ---------------- contact ---------------- */

.adress {
  display: block;
  text-align: center;
  margin: 100px 0 80px;
}

h1.adress__item {
  padding-bottom: 25px;
}

a.adress__item {
  margin-top: 40px;
}

@supports (display:grid) {
  .adress {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  .adress__item {
    justify-self: center;
    text-align: center;
  }

  h1.adress__item {
    padding-bottom: 0;
  }

  a.adress__item {
    margin-top: 0;
  }
}

/*  --------------------------  footer --------------------------   */

.footer {
  clear: both;
  margin: 15px 45% 0;
}

.footer__title {
  text-align: center;
}

.footer__link-github {
  padding: 0 15px;
}

@supports (display: grid) {
  .footer {
    display: grid;
    grid-template-columns: 1fr;
  }

  .footer__title {
    justify-self: center;
    margin: 0;
  }

  .footer__links {
    display: grid;
    justify-self: center;
    grid-template-columns: 1fr 0.15fr 1fr;
  }

  .footer__link-xing {
    align-self: end;
    justify-self: end;
  }

  .footer__link-github {
    align-self: center;
    justify-self: center;
  }

  .footer__link-linkedin {
    align-self: start;
    justify-self: start;
  }
}

/*  --------------------------  media queries --------------------------   */

@media all and (max-width: 500px) {
  .profil__portrait {
    float: none;
    margin: -60px 25% 0;
  }

  .profil {
    text-align: center;
  }

  a.about-me__item {
    margin: 0 20%;
  }

  svg.about-me__item {
    margin: 0 0 0 -10;
  }

  a.credit-link {
    margin: -50px 0 0 -10px;
  }

  .project-list__item {
    width: 60%;
    margin: 25px 20% 50px;
    text-align: center;
  }

  .adress {
    margin: 25px 0;
  }


  .footer__links {
    margin: 15px 32% 0;
  }

  .project-list__item-screenshot {
    width: 200px;
    height: auto;
  }

  @supports (display: grid) {
    .profil__portrait {
      margin: 0;
    }

    .project-list {
      grid-template-columns: 1fr;
      margin: 0;
    }

    .project-list__item {
      width: auto;
      margin: 0;
    }
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .project-list {
    grid-template-columns: 1fr;
  }
}

@media all and (max-width: 750px) {
  .profil__portrait {
    margin-left: 15%;
  }

  a.about-me__item {
    margin: 0 25%;
  }

  svg.about-me__item {
    margin: 0 10%;
  }

  a.credit-link {
    margin: -30px 10% 0;
  }

  .project-list__item {
    margin: 25px 18% 50px;
    text-align: center;
  }

  .project-list__item-screenshot {
    width: 240px;
    height: auto;
  }

  .adress {
    margin: 50px 0 40px;
  }

  .footer__title {
    text-align: center;
  }

  .footer__links {
    margin: 15px 40% 0;
  }

  @supports (display: grid) {
    h1 {
      font-size: 22px;
    }

    svg {
      height: 90%;
      width: 90%;
    }

    .profil {
      grid-template-columns: 1fr;
      text-align: center;
      grid-row-gap: 15px;
      margin: 25px auto 50px;
    }

    .profil__portrait {
      grid-row: 1/4;
      align-self: center;
      justify-self: center;
      margin-left: 20px;
    }

    .project-list {
      grid-gap: 10px;
    }

    .project-list__item:last-child {
      grid-column: auto /auto;
      grid-row: auto / auto;
    }

    .footer {
      grid-column-gap: 40px;
    }
  }
}
