/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/*  --------------------------  general --------------------------   */

input,
select,
button {
  font-family: system-ui;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: #fafafa;
  color: #07290d;
  font-family: raleway;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}

h1 {
  font-family: montserrat;
  font-weight: 600;
  font-size: 30px;
  margin: 0;
}

h2 {
  font-family: montserrat;
  font-weight: 600;
  font-size: 24px;
  margin: 0;
}

h3 {
  font-family: montserrat;
  font-weight: 600;
  font-size: 18px;
}

ul {
  -webkit-padding-start: 0;
  padding-inline-start: 0;
}

a {
  color: #14591d;
}

a:visited {
  color: #0e4115;
}

a:hover,
a:focus {
  text-decoration: none;
}

a:active {
  color: #5cb800;
}

button {
  border: none;
  font-family: montserrat;
  display: inline-block;
  font-weight: 600;
  background-color: #0e4115;
  color: #fafafa;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  -webkit-transition: 0.5s font-size;
  -o-transition: 0.5s font-size;
  transition: 0.5s font-size;
}

.button {
  border: none;
  font-family: montserrat;
  display: inline-block;
  font-weight: 600;
  background-color: #0e4115;
  color: #fafafa;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  -webkit-transition: 0.5s font-size;
  -o-transition: 0.5s font-size;
  transition: 0.5s font-size;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  font-size: 18px;
  -webkit-box-shadow: 8px 11px 5px -2px rgba(7, 41, 13, 0.58);
  box-shadow: 8px 11px 5px -2px rgba(7, 41, 13, 0.58);
}

button:visited {
  color: #fafafa;
}

.button:visited {
  color: #fafafa;
}

/*  --------------------------  header --------------------------   */

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
}

.page-header__item:first-child {
  width: 50px;
  height: 50px;
}

.page-header__item:last-child {
  padding-top: 10px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

/* --------------- navigation ----------------  */

.navigation-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.navigation-list li {
  margin-left: 15px;
}

.navigation-list__item--active {
  text-decoration: none;
  color: #07290d;
}

/*  --------------------------  main --------------------------   */

/* ---------------- index ---------------- */
.profil {
  margin: 110px auto 150px;
}

.profil__portrait {
  border-radius: 50%;
  width: 250px;
  float: left;
  margin: 0 15px 150px 35%;
}

.profil__title {
  padding: 30px 10px 20px;
}

.profil__text {
  margin-bottom: 30px;
}

@supports (display:grid) {
  .profil {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr 0.5fr;
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template: 1fr 1fr 0.5fr / 1fr 1fr;
    grid-column-gap: 20px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 110px auto 150px;
  }

  .profil__portrait {
    width: 250px;
    border-radius: 50%;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1/4;
    -ms-grid-column-align: end;
    justify-self: end;
    margin: 0;
  }

  .profil__title {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    padding: 0;
  }
}

/* ---------------- about ---------------- */

.about-me {
  display: block;
  margin: 25px 20%;
}

.about-me__item {
  text-align: center;
  padding-bottom: 15px;
}

a.about-me__item {
  margin: 0 40%;
  min-width: 200px;
}

svg.about-me__item {
  margin: 0 20%;
}

a.credit-link {
  font-weight: 100;
  font-size: 12px;
  text-decoration: none;
  margin: -50px 30% 0;
}

@supports (display:grid) {
  .about-me {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.5fr;
    grid-template-columns: 0.5fr;
    grid-row-gap: 25px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0;
  }

  .about-me__item {
    -ms-grid-column-align: center;
    justify-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    padding: 0;
  }

  a.about-me__item {
    padding: 15px;
    margin: 0;
  }

  p.about-me__item {
    text-align: center;
    margin: 0;
  }

  svg.about-me__item,
  .button {
    min-width: 200px;
    margin: 0;
  }

  a.credit-link {
    margin-top: -30px;
    margin-bottom: 30px;
    padding: 0;
  }
}

/* --- svg animation --- */
@-webkit-keyframes color-change {
  0% {
    fill: #ffeec7;
  }

  25% {
    fill: #fea7a0;
  }

  50% {
    fill: #b53da1;
  }

  75% {
    fill: #4321a9;
  }

  100% {
    fill: #140655;
  }
}

@keyframes color-change {
  0% {
    fill: #ffeec7;
  }

  25% {
    fill: #fea7a0;
  }

  50% {
    fill: #b53da1;
  }

  75% {
    fill: #4321a9;
  }

  100% {
    fill: #140655;
  }
}

.background-svg {
  -webkit-animation: 10s color-change infinite alternate linear;
  animation: 10s color-change infinite alternate linear;
}

@-webkit-keyframes steam-move {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  50% {
    opacity: 0.5;
  }

  100% {
    -webkit-transform: translate(0, -20px);
    transform: translate(0, -20px);
    opacity: 0;
  }
}

@keyframes steam-move {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  50% {
    opacity: 0.5;
  }

  100% {
    -webkit-transform: translate(0, -20px);
    transform: translate(0, -20px);
    opacity: 0;
  }
}

#steam {
  -webkit-animation: 4s steam-move infinite linear;
  animation: 4s steam-move infinite linear;
}

@-webkit-keyframes checkmark-jumping {
  from {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  to {
    -webkit-transform: translate(0, -7px);
    transform: translate(0, -7px);
  }
}

@keyframes checkmark-jumping {
  from {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  to {
    -webkit-transform: translate(0, -7px);
    transform: translate(0, -7px);
  }
}

#checkmark {
  -webkit-animation: 350ms checkmark-jumping infinite linear alternate;
  animation: 350ms checkmark-jumping infinite linear alternate;
}

@-webkit-keyframes zzz-moving {
  0% {
    -webkit-transform: translate(10px, 10px);
    transform: translate(10px, 10px);
  }

  100% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
    opacity: 0;
  }
}

@keyframes zzz-moving {
  0% {
    -webkit-transform: translate(10px, 10px);
    transform: translate(10px, 10px);
  }

  100% {
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
    opacity: 0;
  }
}

#zzz {
  -webkit-animation: 2s zzz-moving infinite linear;
  animation: 2s zzz-moving infinite linear;
}

/* ---------------- work ----------------  */

.main__titel {
  text-align: center;
}

.project-list__item {
  display: inline-block;
  width: 25%;
  margin: 25px 60px 50px;
}

@supports (display: grid) {
  .project-list {
    width: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 25px 1fr 25px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
    margin: 35px 50px 15px;
  }

  .project-list__item {
    background: #448200;
    color: #fafafa;
    width: auto;
    min-height: auto;
    margin: 0;
    padding: 20px;
  }

  .project-list__item h2 {
    padding-bottom: 10px;
  }

  .project-list__item p {
    padding-bottom: 10px;
  }

  .project-list__item a {
    color: #fafafa;
    text-decoration: underline;
  }
}

/* ---------------- contact ---------------- */

.adress {
  display: block;
  text-align: center;
  margin: 100px 0 80px;
}

h1.adress__item {
  padding-bottom: 25px;
}

a.adress__item {
  margin-top: 40px;
}

@supports (display:grid) {
  .adress {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  .adress__item {
    -ms-grid-column-align: center;
    justify-self: center;
    text-align: center;
  }

  h1.adress__item {
    padding-bottom: 0;
  }

  a.adress__item {
    margin-top: 0;
  }
}

/*  --------------------------  footer --------------------------   */

.footer__title {
  text-align: center;
}

.footer__links {
  margin: 15px 45% 0;
}

.footer__link-github {
  padding: 0 15px;
}

@supports (display: grid) {
  .footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .footer__title {
    -ms-grid-column-align: center;
    justify-self: center;
    margin: 0;
  }

  .footer__links {
    display: -ms-grid;
    display: grid;
    -ms-grid-column-align: center;
    justify-self: center;
    -ms-grid-columns: 1fr 0.15fr 1fr;
    grid-template-columns: 1fr 0.15fr 1fr;
  }

  .footer__link-xing {
    -ms-flex-item-align: end;
    -ms-grid-row-align: end;
    align-self: end;
    -ms-grid-column-align: end;
    justify-self: end;
  }

  .footer__link-github {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -ms-grid-column-align: center;
    justify-self: center;
  }

  .footer__link-linkedin {
    -ms-flex-item-align: start;
    -ms-grid-row-align: start;
    align-self: start;
    -ms-grid-column-align: start;
    justify-self: start;
  }
}

/*  --------------------------  media queries --------------------------   */

@media all and (max-width: 500px) {
  .profil__portrait {
    float: none;
    margin: -60px 25% 0;
  }

  .profil {
    text-align: center;
  }

  a.about-me__item {
    margin: 0 20%;
  }

  svg.about-me__item {
    margin: 0 0 0 -10;
  }

  a.credit-link {
    margin: -50px 0 0 -10px;
  }

  .project-list__item {
    width: 60%;
    margin: 25px 20% 50px;
    text-align: center;
  }

  .adress {
    margin: 25px 0;
  }

  .footer__links {
    margin: 15px 32% 0;
  }

  @supports (display: grid) {
    .profil__portrait {
      margin: 0;
    }

    .project-list {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      margin: 0;
    }

    .project-list__item {
      width: auto;
      margin: 0;
    }
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .project-list {
    -ms-grid-columns: 1fr 25px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .profil__portrait {
    margin-left: 15%;
  }

  a.about-me__item {
    margin: 0 25%;
  }

  svg.about-me__item {
    margin: 0 10%;
  }

  a.credit-link {
    margin: -30px 10% 0;
  }

  .project-list__item {
    width: 60%;
    margin: 25px 18% 50px;
    text-align: center;
  }

  .adress {
    margin: 50px 0 40px;
  }

  .footer__title {
    text-align: center;
  }

  .footer__links {
    margin: 15px 40% 0;
  }

  @supports (display: grid) {
    h1 {
      font-size: 22px;
    }

    svg {
      height: 90%;
      width: 90%;
    }

    .profil {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      text-align: center;
      grid-row-gap: 15px;
      margin: 25px auto 50px;
    }

    .profil__portrait {
      -ms-grid-row: 1;
      -ms-grid-row-span: 3;
      grid-row: 1/4;
      -ms-grid-row-align: center;
      align-self: center;
      -ms-grid-column-align: center;
      justify-self: center;
      margin-left: 20px;
    }

    .project-list {
      grid-gap: 10px;
    }

    .project-list__item:last-child {
      grid-column: auto /auto;
      grid-row: auto / auto;
    }

    .footer {
      grid-column-gap: 40px;
    }
  }
}
